/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the widescreen layout unless they are overridden by the widescreen styles. */


/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

#main-menu, .menu{
    margin:0 auto;
}

#region-menu ul li, ul.menu li{
    display: inline-block;
    padding:0;
    height:100%;
}

.site-name-slogan{
    margin-top: 1.625em;
    margin-bottom: 4.125em;
}

#region-menu ul li a{
    font: 300 1.575em/1.8em 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

#block-menu-menu-main-bottom ul li a{
    font: 300 1.42148em/2.3 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}


h1.site-name{
    margin-top:0;
    margin-bottom: 32px;
    font-size: 3.75em;
}

h6.site-slogan{
    font-size: 1.875em;
}

#region-header-first{
    display:block;
}

#flexslider-1, #block-block-2 iframe{
    border-bottom: 4px solid #6AD2BF;/*rgba(169,219,224,0.5)*/
    box-shadow: 0 8px 0 -6px rgba(0, 0, 0, 0.15);
}

#flexslider-1 .inner-body{
    position: absolute;
    z-index: 10;
}

#block-views-services-list-block{
    padding-left: 1.25em;
    padding-right: 1.25em;
}

.service-item a{
    font: 300 1.42148em/1.5 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

#block-views-services-list-block, #block-views-services-block{
    background-color: #FFF;
    padding-top:1.25em;
    padding-bottom:1.25em;
}

#block-views-services-block .block-title{
    padding-left:1.25em;
}

.main-srv-container{
    margin-top:0.625em;
    min-height: 300px;
}

#block-views-services-list-block, #block-views-services-block{
    margin-top: 1.25em;
}

#block-block-we-will-block-we-will{
    margin-top: 2.25em;
    margin-bottom: 2.25em;
}

h2.we-will{
    margin-bottom: 17px !important;
}

#block-views-front-services-block{
    padding-bottom: 3.375em;
}

.service {
    height:450px;
    box-shadow: 0 8px 0 -6px rgba(0, 0, 0, 0.15);
}

.srv-animated{
    visibility: hidden;
}

.srv-0{
    /*background-color: rgba(88,125,118,0.9);*/
    background-color: rgba(48,100,105,0.9);
}

.srv-1{
    /*background-color: rgba(208,153,218,0.9);*/
    background-color: rgba(106,221,233,0.9);
}

.srv-2{
    /*background-color: rgba(162,201,194,0.9);*/
    background-color: rgba(112,233,246,0.9);
}

.srv-3{
    /*background-color: rgba(150,140,106,0.9);*/
    background-color: rgba(94,197,207,0.9);
}

.srv-title{
    height: 100px;
    color: #FFFFFF !important;
    font: 800 2.25em/39px 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 39px;
}

.service p{
    height: 200px;
    padding-top:50px;
    font: 0.875em/18px 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color:#FFFFFF;
}

.inner-box{
    padding: 10px;
}

.inner-box img{
    padding: 10px;
}

.inner-box img/*, .srv-design img*/{
    filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all 1.6s ease 0s;-moz-transition: all 1.6s ease 0s;-ms-transition: all 1.6s ease 0s;-o-transition: all 1.6s ease 0s;transition: all 1.6s ease 0s;
    transition: all 1.6s ease 0s;
    visibility: visible !important;
}

.srv-design img:hover{
    background-color: #6AD2BF;
}

.btn-srv a.btn:hover > .inner-box img{
    filter: none;
    -webkit-filter: grayscale(0%);
    -webkit-transition: all 1.6s ease 0s;-moz-transition: all 1.6s ease 0s;-ms-transition: all 1.6s ease 0s;-o-transition: all 1.6s ease 0s;transition: all 1.6s ease 0s;
}

#block-views-special-promoted-block{
    padding-top:20px;
    background: none repeat scroll 0 0 rgba(121,150,145,0.1);
    box-shadow: 0 8px 0 -6px rgba(0, 0, 0, 0.15);
}

#block-mbasics-mailchimp-register-mbasics-mailchimp{
    padding-top: 100px;
    height: 200px;
}

#mbasics-mailchimp-register-form h2.we-send{
    font: 300 48px 'Open Sans',"Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    margin-bottom: 0;
    margin-top:0;
}

#mbasics-contact-form{
    margin-top: 20px;
}

#page-title, h2.block-title{
    margin-top: 20px;
}

.block-mbasics-footer-mbasics-info{
    padding-bottom: 20px;
}

.logo-footer{
    margin-top:5px;
}

#region-footer-first{
    margin-top: 10px;
}

.logo-footer{
    width:100%;
}

#zone-footer{
    padding-top: 20px;
}

/*
.second-slogan:not(:hover) {
    animation: 8s ease 2s normal none infinite shake;
}*/
